<!DOCTYPE html>
<html>
<!---
Project: zenith educareers
Date: 5/may/2022
Author: Eruba Ihechukwu
--->
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>{%block title%}Home{%endblock%}</title>
	<!-- Bootstrap CSS Stylesheet-->
			<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/js/bootstrap.js')}}">
            <script src="https://kit.fontawesome.com/05b1e17598.js" crossorigin="anonymous"></script>
			<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fa/fontawesome.min.css')}}">
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fa/fontawesome.min.js')}}">
			<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/zenith.css')}}">
            <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
            <link rel="shortcut icon" type="image/jpg" href="../../static/images/logo.png">
</head>
    <body>
        {%block topp%}

        {%endblock%}
        {%block topban%}

        {%endblock%}
        {%block homecat%}
        {%endblock%}
        {%block counseling%}
        {%endblock%}
        {%block represents%}
        {%endblock%}
        {%block orders%}
        {%endblock%}
        {%block appointmentbooking%}
        <div class=" col-12 apimage">
            <div style="height: 100%;width:100%; background-color:rgba(2,87,227,0.6);display: flex;justify-content: center;align-items: center;">
                <div style="width: 80%;height:50%;text-align: center;">
                    <h2 style="color: white;">
                        A technology driven firm positioned to revolutionize education sector in Nigeria
                    </h2>
                    <p style="color: white;">Established to help all stakeholders in education industry realize their dreams by providing them with comprehensive services and suitable platforms for accomplishing their goals and aspirations.</p>
                    <button class="btn" style="background-color: white; color:rgba(2,87,227,0.6);border-radius: 30px;font-weight: 500;width: 250px;height: 50px;">APPOINTMENT BOOKING</button>
                </div>
            </div>
        </div>
        {%endblock%}
      <div class="container-fluid footerc">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-10 footer">
            <h6>ZENITH EDUCATION</h6>
            <a href="/">About Us</a><br>
            <a href="/">Our Services</a><br>
            <a href="/">Contact Us</a><br>
            <a href="/">Blog</a><br>
          </div>
          <div class="col-lg-2 col-md-3 col-10 footer">
            <h6>OUR REACH</h6>
            <a href="/">Students</a><br>
            <a href="/">Professionals</a><br>
            <a href="/">Schools</a><br>
            <a href="/">Parents</a><br>
            <a href="/">Government/NGO</a><br>
          </div>
          <div class="col-lg-2 col-md-3 col-10 footer">
            <h6>WHAT WE DO</h6>
            <a href="/">Online Degree Programs</a><br>
            <a href="/">Programs to Study in India</a><br>
            <a href="/">Career Consulting</a><br>
            <a href="/">International Education</a><br>
            <a href="/">Career Assessment</a><br>
          </div>
          <div class="col-lg-2 col-md-3 col-10 footer">
            <h6>OUR ADDRESS</h6>
            <a href="https://www.google.com.ng/maps/place/2a+Atunwa+St,+Lagos+101233,+Ikeja/@6.5955864,3.3439563,17z/data=!3m1!4b1!4m5!3m4!1s0x103b922459173f37:0xa03f77a4c7eba23f!8m2!3d6.5955864!4d3.3461503">No 2A, Atunwa Street, OffUnity Road, Ikeja, Lagos. </a>
            <a href="tel:+2349092350267">+2349092350267</a>
          </div>
          <div class="col-lg-2 col-md-3 col-10 footer" id="map2">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe style="border-radius:20%; border:2px solid rgb(9,132,227)" width="200" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=No%202A,%20Atunwa%20Street,%20OffUnity%20Road,%20Ikeja,%20Lagos.&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com/divi-discount/">divi discount</a><br><style>.mapouter{position:relative;text-align:right;height:200px;width:200px;}</style><a href="https://www.embedgooglemap.net">embed google map in wordpress</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:200px;}</style></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid lastt">
        <div class="row" style="height: 50px;">
          <div class="col" style="text-align: center">
            <p class="mt-2" style="display: inline-block;">Copyright © 2022 Zenith EduCareers</p>
          </div>
        </div>
      </div>
    </body>
</html>